{
    "presets": [
        "env",
        "es2015",
        "react",
        "stage-2"
    ],
    "plugins": [
        "transform-decorators-legacy",
        "babel-plugin-transform-object-rest-spread",
        ["import", {"libraryName": "antd", "libraryDirectory": "lib"}, "ant"],
        ["import", {"libraryName": "bnq-sys-react-component", "libraryDirectory": "lib", "camel2DashComponentName": false }, "bnq-sys-react-component"]
    ]
}
